:root {
  --main-colorblack: rgba(62, 62, 62, 1);
  --secondary-colorgrey: rgba(217, 217, 217, 1);
  --main-colorlight-green: rgba(123, 175, 33, 1);
  --secondary-colordark-grey: rgba(108, 108, 108, 1);
  --colorspure-colorswhite: rgba(255, 255, 255, 1);
  --secondary-colorsecond-grey: rgba(154, 154, 154, 1);
  --colorspure-colorsbackground: rgba(52, 53, 49, 1);
  --colorspure-colorslight-green: rgba(204, 226, 65, 1);
  --colorspure-colorsdark-gray-2: rgba(24, 24, 24, 1);
  --colorspure-colorsred: rgba(231, 0, 0, 1);
  --colorspure-colorsgreen: rgba(0, 217, 58, 1);
  --headlines-h4-20px-font-family: "OpenSans-Bold", Helvetica;
  --headlines-h4-20px-font-weight: 700;
  --headlines-h4-20px-font-size: 20px;
  --headlines-h4-20px-letter-spacing: 0px;
  --headlines-h4-20px-line-height: normal;
  --headlines-h4-20px-font-style: normal;
  --subtitle-sub-2-16px-font-family: "OpenSans-Regular", Helvetica;
  --subtitle-sub-2-16px-font-weight: 400;
  --subtitle-sub-2-16px-font-size: 16px;
  --subtitle-sub-2-16px-letter-spacing: 0px;
  --subtitle-sub-2-16px-line-height: normal;
  --subtitle-sub-2-16px-font-style: normal;
  --labels-small-12px-font-family: "OpenSans-Regular", Helvetica;
  --labels-small-12px-font-weight: 400;
  --labels-small-12px-font-size: 12px;
  --labels-small-12px-letter-spacing: 0px;
  --labels-small-12px-line-height: normal;
  --labels-small-12px-font-style: normal;
  --20-30-regular-font-family: "Gilroy-Regular", Helvetica;
  --20-30-regular-font-weight: 400;
  --20-30-regular-font-size: 20px;
  --20-30-regular-letter-spacing: 0px;
  --20-30-regular-line-height: 30px;
  --20-30-regular-font-style: normal;
  --20-30-medium-font-family: "Gilroy-Medium", Helvetica;
  --20-30-medium-font-weight: 500;
  --20-30-medium-font-size: 20px;
  --20-30-medium-letter-spacing: 0px;
  --20-30-medium-line-height: 30px;
  --20-30-medium-font-style: normal;
  --subtitle-sub-1-20px-font-family: "OpenSans-Regular", Helvetica;
  --subtitle-sub-1-20px-font-weight: 400;
  --subtitle-sub-1-20px-font-size: 20px;
  --subtitle-sub-1-20px-letter-spacing: 0px;
  --subtitle-sub-1-20px-line-height: normal;
  --subtitle-sub-1-20px-font-style: normal;
  --15-30-medium-font-family: "Gilroy-Medium", Helvetica;
  --15-30-medium-font-weight: 500;
  --15-30-medium-font-size: 15px;
  --15-30-medium-letter-spacing: 0px;
  --15-30-medium-line-height: 30px;
  --15-30-medium-font-style: normal;
}
